[2016-04-30 16:50] jorisd opened #1 "snake that bites its own tail : grimd -update"
Hi,

Thanks for creating grimd !
A little bit of context, here's my setup :
a linux raspi with golang 1.6.2 :

**BIND9**:
- bind9 DNS server listening on 0.0.0.0:53, that is authoritative on a private domain name (lan domain).
- bind9 configured to use grimd (127.0.0.1:54) as the sole forwarders for anything else

**GRIMD** :
- grimd configured on 0.0.0.0:54 and forwards everything to 8.8.8.8.

**

[2016-04-30 18:27] looterz commented on #1
Thanks for the report! This should be fixed as of 8f9343cfaca405a6ebc7c0a1ad2d93101530ab4a

[2016-04-30 19:33] jorisd commented on #1
Perfect, it works ! :+1:

[2016-05-01 00:00] #1 closed

[2016-05-01 03:04] Ira1123 commented on #1
Hi mistr looterz do you have a skype adress or a mail? I need to talk with you.

[2016-05-01 19:36] Ira1123 commented on #1
?

[2016-05-02 01:24] looterz commented on #1
@Ira1123 you can direct-message me on twitter at https://twitter.com/looter__

[2016-05-04 12:11] mischapeters opened #3 "Daemonize"
Hi,

Is there a way to daemonize the process, besides just adding &.

Mischa

[2016-05-04 12:32] looterz commented on #3
It's recommended to set it up as a systemd service or init.d service, although I currently only have an example for systemd.

[2016-05-04 12:33] mischapeters commented on #3
Understand... but I don't run Linux. ;)
If you have an rc.d example that would be great.

[2016-05-04 12:52] looterz commented on #3
I've never worked with FreeBSD or rc.d , but here is a quick [example](https://github.com/looterz/grimd/wiki/Daemon-Scripts) I setup on a new wiki page for daemons, it probably needs some tweaking though.

[2016-05-04 12:55] mischapeters commented on #3
Will have a look and see if the FreeBSD version can be converted to OpenBSD.

[2016-05-04 12:55] looterz commented on #3
I should probably start compiling release binaries for FreeBSD and OpenBSD as well.

[2016-05-04 12:57] mischapeters commented on #3
That would be great! Just build my own since I also use lego (let's encrypt in go). So wasn't an issue.
Btw... awesome daemon!

[2016-05-04 13:10] mischapeters commented on #3
Found it ;)

[2016-05-04 13:15] mischapeters commented on #3
If you can include this in your example page:

`#!/bin/sh
daemon="<path_to_daemon>"
rc_bg=YES

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1`

[2016-05-04 13:22] looterz commented on #3
Done, I have the more complex one and that one on there as BSD examples. Thanks!

[2016-05-04 13:23] mischapeters commented on #3
This one is for OpenBSD

[2016-05-04 13:46] mischapeters commented on #3
Slight modificaiton

[code]

[2016-05-04 13:55] #3 closed

[2016-05-05 16:46] jfreax opened #4 "Small typo in deployment wiki guide"
Hello,

there is a small mistake in the Deploying-on-Digital-Ocean wiki: It should be "/etc/systemd/system" instead of "/etc/systemd/services" for the systemd service file.

Best,
jfreax

[2016-05-05 17:30] looterz commented on #4
Fixed, thanks!

[2016-05-05 17:30] #4 closed

[2016-05-12 13:49] naijim opened #5 "[usage] where to put the grimd.toml file?"
Hi, I am pretty new to Go. I could not find doc about where to put the non-default toml file. Could someone help?

[2016-05-12 21:39] looterz commented on #5
The first time you run grimd, it will generate the grimd.toml file for you, but if you want you can copy the default configuration from the readme and edit it, name it grimd.toml and place it in the same location as the grimd binary.

[2016-05-12 21:39] #5 closed

[2016-05-24 20:59] nicolas314 opened #6 "No recursion?"
Hey looterz,
Thanks for writing this! I was looking for a replacement to pi-hole and grimd seems to fit the bill perfectly. I installed grimd on a RPi and declared it as primary DNS for my network (Google DNS being secondary) but unfortunately when I run a DNS query from the local network, grimd is systematically bypassed. 'nslookup' reports:
  ;; Got recursion not available from 192.168.x.x, tryi

[2016-05-24 21:55] looterz commented on #6
What output do you get when using dig rather than nslookup, and does the name resolving still work despite the error?

[2016-05-25 14:14] nicolas314 commented on #6
dig works fine: returns 0.0.0.0 as expected for a blocked domain.
I am trying this from an OSX machine: nslookup and host just bypass grimd and skip to the next defined DNS server, yielding the domain's true IP address. FWIW: firefox also skips grimd, but Chrome stays on grimd's answer (0.0.0.0). Seems there might be different ways of requesting DNS information on OSX.
Hope that helps!

[2016-05-25 18:49] nicolas314 commented on #6
Scratch what I just said: Firefox was stuck on a cached DNS entry. These things are hard to refresh with certainty :-) Killing FF and asking OSX to clean the DNS cache now shows blocked domains as 0.0.0.0. Seems other applications on OSX are fine with grimd. As for our CLI friends host, dig, and nslookup, their man pages on OSX mention that:

_Mac OS X NOTICE
       The dig command does not use th

[2016-05-26 11:02] #6 closed

[2016-06-08 22:22] ateepy opened #7 "Names won't resolve"

[2016-06-09 03:21] #7 closed

[2016-07-06 20:27] mischapeters opened #8 "Updated OpenBSD rc script"
Here is an updated version of the OpenBSD rc.d script.

[code]

[2016-07-06 22:26] looterz commented on #8
Thanks!

[2016-07-06 22:26] #8 closed

[2016-10-24 20:55] SR-G opened #11 "Easylist compatibility"
As far as i can tell, grimd seems to not be compatible with easylist (https://easylist.to/easylist/easylist.txt)

So i suppose i could probably have an external curl operation with a few sed/grep to clean those lists before starting grimd, but wouldn't it be better to have to grimd work out-of-the box with that configuration ?

[2016-10-24 22:06] looterz commented on #11
The format easylist is using is not supported by grimd currently, it can only accepts domain names as its a dns ad blocker. It looks like this list was formatted for browser extensions that block ads and have access to page content.

[2016-10-24 22:06] #11 closed

[2016-11-23 09:03] myxalov opened #13 "no work resolve host domain"
Hi!
a linux gentoo with golang v1.7.3, grimd v1.0.2

The default configuration file.
After some time, no longer be given zone.
Here he writes in debug mode:

`[GIN-debug] Listening and serving HTTP on 127.0.0.1:8080`
`start tcp listener on 0.0.0.0:53`
`server.go:45: start udp listener on 0.0.0.0:53`
`updater.go:76: fetching source http://xxx.xxx.xxx.xxx/domain-abuse.txt`
` updater.go:92: loading b

[2016-11-25 22:07] emdioh commented on #13
Uhm it looks like it's finding the string that toggles grimd on and off in the queries.
What did you put for togglename in the configuration? If you didn't put anything ("") , maybe it's a bug that I've created: try to put something like togglename="_@_" that should never occur in a dns name: it should fix the issue.
I'll have a look as soon as I get home.

[2016-11-25 23:51] emdioh commented on #13
I confirm that this behaviour is a defect introduced by pull request [#12](https://github.com/looterz/grimd/pull/12) I'll propose a fix soon.

[2016-11-26 00:29] looterz commented on #13
Fixed by #14.

[2016-11-26 00:29] #13 closed

[2016-11-28 07:35] myxalov commented on #13
Also Grimd didn't work with national domains (etc. on russian - дом.рф). Will you fix it?

[2016-11-28 08:47] myxalov opened #15 "National domains resolving don't work"
Grimd don't work with national domains (e.g. russian cyrillic domain - дом.рф). Will it been fixed?

[2016-11-30 15:11] a-a-m commented on #15
@myxalov Actually it works correctly now. No additional fixes needed.

Another question is how exactly you trying to ask? Look, you can't directly send request using "nslookup дом.рф" because "дом.рф" actually means "xn--d1aqf.xn--p1ai" (check for example at [Ru-Center](https://www.nic.ru/whois/?query=%E4%EE%EC.%F0%F4)).

From any modern web browser it works well out of box.

[2016-12-01 13:21] myxalov commented on #15
We have a big list of domains, some of them on cyrillic. Grimd don't work with cyrillic domains.
How to solve this problem? Just convert cyrillic domains from list to this format - "xn--d1aqf.xn--p1ai"? How?

[2016-12-01 13:52] a-a-m commented on #15
Yes, just convert your list of domains from Unicode to ASCII-Compatible Encoding (ACE) which is designed for use with Internationalized Domain Names (Punycode). Punycode transforms a Unicode sequence into a string of ASCII characters which can be used in a hostname label. Only letters, digits, and hyphens are allowed. Punycode sequences always start with the characters "XN--". format using any IDN

[2016-12-01 13:57] myxalov commented on #15
Can you recommend any converter for perl or python?

[2016-12-01 14:37] a-a-m commented on #15
It's really simple to do by yourself:

Python
[code]

Sample code in Perl - http://s3blog.org/konvertacija-domena-v-zone-rf-v-punycode.html

[2016-12-07 12:51] myxalov opened #16 "grimd and upper state"
Grimd don't work if some symbols in DNS request in upper state (e.g. "gOogle.com") and domain listed as "google.com".

[2016-12-09 01:35] looterz commented on #16
Fixed by https://github.com/looterz/grimd/commit/c40dd3cb06b45d1e3000473b4af8a86a573760b2 . Thanks for the report.

[2016-12-09 01:35] #16 closed

[2016-12-09 01:49] #15 closed

[2016-12-13 06:56] myxalov opened #17 "blocklist didn't refreshed with "-update""
With command "Grimd -update" blocklist didn't refreshed.
Log:
`root@www-srv:/opt/go# ./bin/grimd -update`
`grimd v1.0.2`
`2016/12/13 09:34:24 listen tcp 127.0.0.1:8085: bind: address already in use`

[2016-12-14 21:54] looterz commented on #17
You have to run grimd with -update without another instance already running, or else you'll get port binding conflicts and grimd will close.

[2016-12-15 17:17] #17 closed

[2016-12-26 06:54] myxalov opened #18 "grimd and subdomains"
Our blacklist has domains such as "*.google.com"
Grimd don't understand this form as subdomains.
Also if domain listed as "google.com", and domain "www.google.com" is working.

[2017-02-25 16:44] pandrew opened #19 "update can't write to sources"
Using `-update` won't allow to write to sources directory on osx. Changing permission to 700 for that directory fixes it temporary.

[2017-03-09 15:04] gumpjt opened #20 "Program crash"
After running for a while, it will crash. I check the source code but can't find the reason. Here is the log info:

[code]
My go version : go version go1.7.4 linux/amd64.

[2017-03-18 20:35] photostorm commented on #20
Hi gumpjt, I pretty sure I know what cause that error to happen. It is something I fixed for the normal reply, but for HandledFailed function bypass my fixed. This is a case that happens when a TCP connection comes in and later get interrupted causing the writer to go nil. I can work on fixed for this.

[2017-03-18 21:44] photostorm opened #22 "API handling throwing errors"
After trying to do a "go get" and having my pull request failing for the same reason. I think there is something wrong with the API code.

**Here is the error:**
`
looterz/grimd/api.go:19: cannot use cors.Default() (type "github.com/gin-gonic/gin".HandlerFunc) as type "gopkg.in/gin-gonic/gin.v1".HandlerFunc in argument to router.Use
`

My go version : go version go1.8 linux/amd64.

[2017-03-19 09:50] #22 closed

[2017-03-20 06:03] looterz commented on #20
Should be fixed by #21

[2017-03-20 06:03] #20 closed

[2017-03-20 06:06] looterz commented on #19
Thanks, should be fixed.

[2017-03-20 06:06] #19 closed

[2017-05-20 09:21] href opened #23 "Are the addresses of host-lists taken into account?"
Sorry if this a bit of a dumb question, but does grimd merely block the domains it parses from the list, or is it possible that it might answer with a different ip address?

I'm asking because some of the host-lists seem to contain ip addresses. Now granted they all point to 127.0.0.1, but once I start using those lists as sources I have no guarantee that this will remain so. I could imagine that

[2017-05-21 15:24] emdioh commented on #23
It sound strange to me that some hotlists have IP addresses pointing to 127.0.0.1: maybe it's some of those hostnames like 123.123.123.123.some.domain.com?
In any case it should not matter because DNS is made to resolve IP addresses from hostnames: if a client is provided with an IP address it won't hit the DNS to resolve it.

[2017-05-21 15:42] looterz commented on #23
grimd ignores any IP's specified in the hostlists and routes all requests to `nullroute` or `nullroutev6` depending on the protocol used.

[2017-05-21 15:42] #23 closed

[2017-05-22 06:53] href commented on #23
That's what I hoped to hear @looterz . Thanks for confirming this and thank you for grimd!

[2017-07-20 22:19] looterz commented on #18
Sorry the response has taken so long on this issue. It is a fairly annoying issue to deal with, but something I would like to fix for an upcoming release. I will look into some methods for pattern matching domain records and see what I can come up with.

[2017-07-26 22:58] emdioh commented on #18
I have a tentative implementation.
Myxalov: can you clarify what you mean with your last line: Also if domain listed as "google.com", and domain "www.google.com" is working. ?
Thanks.

[2017-07-26 23:19] emdioh commented on #18
#24 adds support for globs

[2017-08-01 08:05] myxalov commented on #18
Sorry, I meaned that domain "www.google.com" **isn't** working if domain listed as "google.com".

[2017-08-14 20:43] emdioh commented on #18
I see. I'm not sure that it should, though: iiuc both google.com and www.google.com are valid domain names and could correspond to different services.
Would the globbing support solve your usecase?

[2017-08-22 13:31] rande opened #25 "Hooks on DNS resolution"
I would like to add a way to add iptables rules based on DNS query. This can be usefull if the DNS server is on the gateway with different outbound interfaces.

This can be done by calling an external program when the resolution is done (can be called once before the cache is set). It will required to have a script to be called on start, so it will be possible to clean the state (iptables).

[2017-09-01 16:07] looterz commented on #25
I think for ease of use and security, webhooks would be a good solution for something like this, and would allow for users to respond to grimd events locally or remotely pretty easily.

You could create a small web-server with your iptables altering application and point grimd at it, and it would send data to specified endpoints on dns events. Would this work for what you need?

[2017-09-10 17:28] elico opened #26 "Would it be possible to integrate my DRBL library with grimd?"
I wrote this library:
https://github.com/elico/drbl-peer

and it has an option to check a hostname against a specific blacklist server which uses wither dns or http interface.
I am using it with squid and I noticed that I can integrate it with your service easily just adding couple cli config parameters.
I can code the integration of my library, would you accept a PR or a patch that will add suppo

[2017-09-12 15:19] elico opened #27 "When a cached record is served it being served with static ttl"
I ran a simple dns lookup and the cache is served from cache but with the same ttl which the original request was responded.
Ie 3600 seconds stays and will not reduce to lower.

[2017-09-26 20:18] elico commented on #26
@looterz Eventually I forked the code and added couple new things like cache disabling options and drbl-peer support at: https://github.com/elico/grimd

[2017-09-26 22:03] looterz commented on #26
@elico Would you be able to submit a pull request with your changes to the dev branch? I am preparing that branch for release/merge soon so its a good place for new features.

[2017-09-26 22:06] looterz commented on #27
I don't know much about recommended TTL for DNS records, but I have seen 1 hour or 3600 seconds recommended for A records. What do you think grimd should do with cached records TTL?

[2017-09-26 22:31] elico commented on #26
@looterz I did changed a lot of things and I can try to make a PR but I am not sure how smooth it will be.

[2017-09-26 22:57] elico commented on #26
PR https://github.com/looterz/grimd/pull/28
Let me know if something is missing or not.

[2017-09-26 22:59] elico commented on #25
@looterz @rande it would be better to use ipset compared to raw iptables.
A small webserver is nice but it's much simpler to define in config file the
- iptset command location
- ipset ip-hash  name
- execute it using a go routine or not

[2017-09-26 23:17] elico commented on #27
@looterz it should be able to store the query response TTL and respond with a relational TTL to the response.
For example if the original TTL is 3600 and the record exists since 18:00:00 then in the response at 18:01:00 the TTL should be 3540 in the response and not statically 3600 if it's in the cache.
This is a basic way of handling cached cache responses, these have "age" and every response sho

[2017-10-05 23:17] pieterhouwen opened #29 "Feature request: NSA spying servers"
List can be found here:

https://raw.githubusercontent.com/CHEF-KOCH/NSABlocklist/master/HOSTS

note: this is built for Windows hosts, but I can imagine there's some way to tranlsate that into Linux

[2017-10-17 11:34] looterz commented on #29
This format should work fine with the existing source list system in config.

[2017-10-17 11:34] #29 closed

[2018-03-07 11:10] msenturk opened #31 "Log out-put to syslog support"
First of  all its awesome tool, thanks a lot for sharing it.
I'm not sure are you still developing it actively but I got a few feature ideas for you.
Is it possible to add log to syslog feature and rotating of log file by criteria (daily, weekly or size)

[2018-03-31 14:34] nephaste opened #32 "provide ARMv5 , v7 & ARM64 Binary version"
Hi ... if project still alive.. i ll be glad to push this one on Qnap NAS as QPKG

i wonder if you can propose an ARMv5, V7 and ARM64 version in your release

thanks

[2018-04-04 17:30] wen-long opened #33 "bootstrap dns server setting"
when grimd is used as system dns server,after system boot,grimd auto starts and download blocklists,but system dns is grimd itself,this makes a deadlock.

maybe there should be a configuration set the bootstrap dns server for resolve those domains in blocklists

[2018-05-17 15:18] jeffxf commented on #32
@nephaste I haven't tested this, but you can try building these for arm to see if they work for you (assuming you have golang installed):

[code]

[2018-05-18 06:30] nephaste commented on #32
thanks jeff

i will give a try

[2018-05-18 06:50] nephaste commented on #32
just installed on my dev VM gcc-go

but output give me

`
root@steph-Standard-PC-i440FX-PIIX-1996:/SRC/grimd# go get github.com/looterz/grimd
GOOS=linux GOARCH=arm64 go build -o grimd.arm64 -v github.com/looterz/grimd
GOOS=linux GOARCH=arm GOARM=5 go build -o grimd.armv5 -v github.com/looterz/grimd
GOOS=linux GOARCH=arm GOARM=7 go build -o grimd.armv7 -v github.com/looterz/grimd
package github.com

[2018-05-18 09:25] nephaste commented on #32
it works great !!!! thanks a lot

[2018-06-30 23:25] ryancdotorg opened #34 "Drop privs after binding ports?"
Would be nice if grimd could drop privileges (switch away from root) and maybe also chroot after starting.

[2018-07-01 19:32] ryancdotorg commented on #31
I'd be willing to write a patch for this.

@looterz are you okay with the configuration being something simple like `log = "syslog"` or would you prefer a different option?

[2018-07-02 02:49] looterz commented on #31
@ryancdotorg That works for me.

[2018-07-02 03:12] ryancdotorg commented on #31
Great. I have some code already running that takes `log = "syslog"`, I'll clean it up a bit and get a pull request to you as soon as I can - probably tomorrow.

[2018-07-02 03:16] ryancdotorg commented on #25
Just wanted to reference the `ipset-dns` tool here: https://git.zx2c4.com/ipset-dns/about/ - the code shows how to do this without having to call an external program.

Note that it's been integrated into `dnsmasq` now - I'm using that to do the firewall stuff with `grimd` to do filtering.

[2018-07-02 04:00] ryancdotorg commented on #27
When `grimd` adds a DNS message to it's cache, it should:

1. loop through all answers in the message, and take the smallest ttl value (do not assume they are all the same)
2. compare that with the expires setting, and use that instead if it is smaller

The expire value for the cache `Mesg` object should be the current time plus however many seconds the smallest value found in items 1 and 2 above.

[2018-07-02 04:30] ryancdotorg commented on #27
If someone can explain to how to look at the ttl on the answers, I can have a shot at this.

[2018-07-02 06:22] ryancdotorg opened #35 "glob entries in the block list can be added via the API, but not removed or listed"
I'll try to provide a fix myself

[2018-07-12 20:54] emdioh commented on #33
What did you set as nameservers in the configuration?
Grimd should forward the requests to those servers.

[2018-07-21 07:54] emdioh commented on #33
Oh, I see. Thanks for explaining.

[2018-08-14 05:39] elico commented on #27
@ryancdotorg I want to assist you but I am working on couple things so try to bump this later and I will try to respond.
.. Sorry

[2018-08-31 16:43] emdioh commented on #33
I tried to repro this locally by setting grimd as the system dns and then starting it up, but it worked ok. It looks like the issue was addressed in [issue 1](https://github.com/looterz/grimd/issues/1) by 8f9343c

[2018-09-01 13:08] emdioh commented on #27
#37 should fix this

[2018-09-14 08:26] wen-long commented on #33
I tried several times and find no bug.
Maybe I have some fault in my OS settings,no relevant with grimd.
I'm going to close this issue.

[2018-09-14 08:26] #33 closed

[2018-10-14 05:09] brandon099 opened #47 "grimd occasionally crashes in handler trying to do a TCP query."
Haven't been able to reproduce this on my own, but the same stack happens occasionally during a DoTCP call.

[code]

[2018-10-14 07:40] emdioh commented on #47
which commit did you use for the build?
What happens before the crash? do you have some logs or other info?

On Sun, Oct 14, 2018 at 7:09 AM Brandon Clifford <notifications@github.com>
wrote:

[2018-10-15 00:43] brandon099 commented on #47
Here are some debug logs.

1) There's a look up for `ichnaea.netflix.com` and is found in the cache under the key `16388b3f593f450c0ad4cb124eaf7e3b`.
2) Grimd expires the cache entry and the key is no longer in the cache.
3) It then stores a new entry for `ichnaea.netflix.com` with TTL of 1 second.
4) Then, when it's looked up again, the cache returns the old key, instead of the new one, causing t

[2018-10-15 15:50] emdioh commented on #47
Thanks, this was helpful.
I'll work on a repro test (and hopefully on a fix :) tonight.

[2018-10-15 18:18] emdioh commented on #47
I don't think that the cache is the issue here. The key is always the same, derived from the queried domain name so it will always return the same domain.
From the stack trace things seem to happen at the beginning of the query handling, when recovering the DNS ip address for logging and caching, on line 75.
There something strange happen, because it looks like the RemoteAddr at go/pkg/mod/github.

[2018-10-18 07:46] brandon099 commented on #47
How do I do that? I'm running it like this: `GOTRACEBACK=crash ./grimd` and there aren't any core dumps being generated. Also, my ulimit is set to unlimited. I got a core dump of a running instance but it was 1.2gb and didn't have any backtrace or crash info. Must be doing something wrong, but would love to supply a core dump if I can. Thoughts?

[2018-10-20 06:49] emdioh commented on #47
I just tried by injecting a nil reference and I git a core (and a way longer backtrace).
It printed 'Aborted (core dumped)' but with no core until I ran 'ulimit -c unlimited' from the shell were I ran grimd (before starting it of course)

[2018-10-22 18:53] emdioh commented on #27
@looterz I think that you can close this

[2018-10-23 13:05] #27 closed

[2018-10-27 22:43] photostorm commented on #47
Have you tried v1.0.14 release? It looks like it used to call w.udpSession.RemoteAddr() when w.tcp is nil. I seen that flip to nil when the connection get interrupt during your request. It looks like now it just call a panic which it should recover from.

The change made in v1.0.14:
https://github.com/miekg/dns/commit/008c8ca764c407ef0b4a188d71729d6d07de9d97#diff-34c6b408d72845d076d47126c29948d1

[2018-10-29 21:01] #31 closed

[2018-11-11 19:37] ryancdotorg commented on #34
As a workaround until this feature is added, in systemd you can add the following to the `[Service]` section, and then set a non-root user:

`AmbientCapabilities=CAP_NET_BIND_SERVICE`

[2019-02-15 18:40] alectrocute commented on #35
Any progress on this, @ryancdotorg?

[2019-02-17 23:25] looterz commented on #26
I will be removing the dev branch as it is out of date now, and I had issues getting Rice to work recently. Merged your PR.

[2019-02-17 23:25] #26 closed

[2019-02-17 23:27] elico commented on #26
@looterz Thanks.

[2019-02-18 00:13] elico opened #55 "NXDOMAIN instead of nullroute"
The quad9 <https://www.quad9.net/> uses another approach then specifying a response A/AAAA record and response with a NXDOMAIN.
Would this approach might fit some use cases with grimd?

If so we can put a switch that returns a NXDOMAIN instead of null route.

[2019-02-18 10:51] elico commented on #18
@emdioh @looterz I think that using .google.com should catch all while google.com should catch only google.com with a switch. to turn this function on and off.

[2019-02-18 17:34] alectrocute opened #57 "API calls need rate-limiting"
If the user calls the API toggle endpoint while grimd is loading the blocklist URI’s; the application crashes. To increase stability, I believe there needs to be a rate-limit conditional that affects all API calls. If I have time I’ll do a PR in the future unless someone beats me to it.

[2019-03-03 09:54] ghost opened #61 "Setup instructions for local desktop, local server"
at the moment there is basic docs in the wiki for digital ocean.

what about if you want to run on your laptop Or on a raspberry pi on your home network ?
would be really nice if there was info on this.
- down to the point of explaining that you have to change the DNS resolver in your router etc

[2019-03-09 15:18] elico opened #62 "panic: send on closed channel"
I have just compiled Latest commit 50dc846 from 3 days ago.
When I tested it I a got the next result:
[code]

I can test if it's a regression but, am I the first to see such an issue?
grimd.conf
[code]

[2019-03-23 19:50] shyim opened #63 "Custom dns entries"
Is it possible to add also custom dns entries?

[2019-03-29 16:33] combro2k opened #64 "Grimd + dnsmasq backend"
Hi,

I am trying to forward DNS queries to a local DNSmasq server running on port 1053 (non standard), to support for instance address=/combro2k/172.32.0.2
If I add the entry like this into grimd.toml:

And I do a lookup on the grimd server:

I got NXDOMAIN

However if I do

I got the right reply.

So it looks like he doesn't call 127.0.0.1:1053 while it is being bound by dnsmasq and works directl

[2019-04-08 14:18] combro2k commented on #64
Found it ..

It's due DoH was used, and it didn't use regular DNS lookup as fallback:

https://github.com/looterz/grimd/blob/master/resolver.go#L39

[2019-04-17 12:00] combro2k commented on #64
I tackled it by using dnsmasq as master DNS and use server=127.0.0.1#1053 grimd  (localhosthost:1053) as local resolver for now.

[2019-05-30 14:07] lpar commented on #64
Given that grimd has caching, what's the use case for running both dnsmasq and grimd?

[2019-06-05 10:08] combro2k commented on #64
I use dnsmasq for custom DNS entries like:

address=/combro2k/172.32.0.2

It was in the OP ;-)

[2019-06-05 14:19] lpar commented on #64
Hmm, pity grimd doesn't seem to use the IP addresses from the blocklist files, or else you could just have a blocklist file of

`172.32.0.2 combro2k`

Still, custom entries in `hosts` will still work even with grimd as DNS server. Or you could do what I do and use zeroconf for local network hostnames.

[2019-06-06 14:30] combro2k commented on #64
I use it is a DNS server on a VPN server.
My 'services' are containerized in Docker, so it will be a challenge to get that working the easy way I think.
But will look into it later to see if I can use it that way. The suggestion of blocklist maybe will work, gonna check that out.

[2019-06-26 23:40] lastzero opened #65 ""DNS over HTTPS" support for Android 9 Private DNS"
**It seems we can't use grimd as "Private DNS" on Android 9** 😢

To enable this, we probably need "DNS over HTTPS" support. Is / was somebody working on it already? What would be the best way to implement it?

See https://www.quad9.net/private-dns-quad9-android9/ for details.

[2019-06-28 01:56] lastzero commented on #65
I managed to serve DNS requests via HTTPS using https://github.com/lastzero/tinydoh (branch "lastzero") and Caddy. Still not working with Android 9. Any idea?

You can use "curl" to query my test server:
[code]

At least the content type looks good to me. It was wrong in the upstream repo.

[2019-06-28 04:15] lastzero commented on #65
Just learned that Google published their own DNS-over-HTTPS server written in Go: https://github.com/m13253/dns-over-https

So I guess using that makes sense instead of trying to build upon tinydoh and fix the issues.

[2019-10-05 01:45] photostorm commented on #18
Is this still a issue or was it fixed with globs support?

[2019-11-11 02:30] gombadi opened #70 "Race error"
It seems there is a race condition when setting up the grimdActivation global.
I have updated it to create the reference in the Activation goroutine and pass the reference back to main via a channel.

I have created a PR if it helps - https://github.com/looterz/grimd/pull/69

[2020-01-02 23:21] elico commented on #55
@photostorm Thanks.
Seems to be the right resolution.

[2020-01-02 23:21] #55 closed

[2020-06-25 09:43] #64 closed

[2020-06-25 09:49] combro2k opened #72 "nameserver tls upstream"
I wonder if it is possible to use or implement DNS-over-TLS upstream nameservers?
Right now I'm a bit experimenting with grimd and coredns which is able to use DNS-over-HTTPS and DNS-over-TLS.
I want to use grimd as the 'upstream' server for coredns and grimd to upstream it's request via DNS-over-TLS to another public server.

[2020-07-17 10:44] ryancdotorg commented on #35
I've submitted a pull request to address this.

[2020-07-17 11:01] ryancdotorg commented on #70
Should this be closed?

[2020-07-17 11:01] ryancdotorg commented on #62
Should this be closed?

[2020-07-17 11:03] elico commented on #62
@ryancdotorg I will try to test it later.

[2020-07-17 12:03] ryancdotorg commented on #63
Should this be closed?

[2020-07-17 12:05] #63 closed

[2020-07-19 16:33] elico commented on #62
@ryancdotorg Seems to be resolved on master.
@looterz is it time for 1.7?

[2020-07-19 16:33] #62 closed

[2020-07-19 16:37] elico commented on #61
Seems out of  scope for the project.
Can be closed to my understanding.

[2020-07-19 16:40] elico commented on #18
@looterz I have seen something interesting about such a subject:
*.google.com would catch 111.google.com 11.google.com but not 1.111.google.com

And:
**.google.com would catch any subdomain in any level.

What do you think? @photostorm ?

[2020-07-27 17:20] #35 closed

[2020-08-09 10:18] looterz commented on #61
This is a bit out of scope, but if anyone would like to contribute to the wiki feel free.

[2020-08-09 10:18] #61 closed

[2020-10-13 16:58] quaintdev opened #76 "Client list api to view all the clients using DNS server"
I am trying to develop flutter mobile app as a front end for grimd. I am looking for api which will give me the list of clients using grimd. I went through api.go and did not found any api for the same. Am I missing something? Can this be implemented?

[2020-10-16 00:23] quaintdev commented on #76
Implemented this in #77

[2020-10-16 01:44] looterz commented on #76
Thanks, I merged the PR.

[2020-10-16 01:44] #76 closed

[2020-11-07 17:57] quaintdev opened #78 "Can I define custom domains on my lan using grimd?"
I would love to assign custom domains to devices using grimd but I am not sure if it is even possible.

I tried defining domains in /etc/hosts file but it seems to have no effect. Any suggestions?

[2020-11-08 01:18] looterz commented on #78
I believe you can, using the customdnsrecords config entry, more information is available in #68

[2020-11-08 01:19] #34 closed

[2020-11-11 14:37] quaintdev commented on #78
Do you have any plans to support configuration  changes over REST api? I needed ability to add custom dns records, block websites from the mobile client that I am building.

[2021-03-09 21:53] quaintdev opened #82 "Block via http api does not persist"
If any website is blocked via http api, it remains blocked until grimd restarts. One has to block website again after restart.

Currently only way to block website permanently seems to be blacklist parameter in toml. Am I missing something? Any suggestions?

[2021-04-19 08:52] looterz commented on #82
We should setup a custom blocklist managed by the HTTP API to solve this issue.

[2021-04-19 08:52] #78 closed

[2021-04-19 08:53] #70 closed

[2021-04-20 03:13] xgocn commented on #18
I have "sub.abc.com" in the whilelists and "*.abc.com" in the blacklists, what would happen?

[2021-04-23 03:57] quaintdev commented on #82
I have implemented this change and it is working form me as expected. Here is the [commit](https://github.com/quaintdev/grimd/commit/794afaed117d76d201b6cb32f88fb51825a07ac1).

I will raise pull request if this works for you.

[2021-04-23 04:52] looterz commented on #82
Added in #83

[2021-04-23 04:52] #82 closed

[2022-03-18 06:17] soulteary opened #89 "Security vulnerability: gin-gonic/gin: v1.7.0"
Hi 👋, I see a dependency risk, I will submit a PR to fix it later, hope it helps you

[code]

[2022-03-18 06:20] soulteary commented on #89
Hope it helps you. @looterz

https://github.com/looterz/grimd/pull/90

[2022-03-18 06:59] looterz commented on #89
Thanks for the PR, appreciate it

[2022-03-18 06:59] #89 closed

[2022-03-18 07:38] soulteary opened #91 "Whether the compile parameter should enable `CGO`"
@looterz Hi 👋

I see a GitHub action is used in the build record with the CGO parameter enabled in the `go env`:

https://github.com/looterz/grimd/runs/5596926600?check_suite_focus=true

[code]
But in the Go Release config, I see the opposite config:

https://github.com/looterz/grimd/blob/master/.goreleaser.yaml

[code]

Which configuration should prevail? If community users want to submit some co

[2022-03-18 07:52] looterz commented on #91
Hello,

I am not very familiar with the parameter. I accept any and all contributions to the project and try to review the submissions as quickly as possible.

Thanks for catching the configuration mismatch here, it looks like the [setup-go](https://github.com/actions/setup-go) action uses this as default in their build environment, likely for producing statically linked binaries? There seems to b

[2022-03-18 08:08] soulteary commented on #91
Thanks for such a quick reply, I'll do some testing later and report back to you.

This project is great, I decided to use it to replace my previous solution.

Thank you~

[2022-03-18 08:08] #91 closed

[2022-03-18 08:28] soulteary opened #93 "[Improve] Update project ignore list and document configuration"
Hello maintainer 👋  @looterz

I try to build the project locally and everything works fine, but I found two small problems:

1. After building the `grimd` and running the program, some files will be generated, which are not in the ignore list. In order to avoid introducing these files by mistake in the subsequent development process, I recommend updating the ignore list.

2. The configuration cont

[2022-03-18 09:05] soulteary opened #96 "[Fix] allow the project to complete the build in the docker"
Hello maintainer 👋 @looterz

The dockerfile used by the current project needs to be used with the built binary.

If we wanted to use containers for multi-architecture builds, it would get complicated.

So I tried submitting a PR and building the program entirely inside the container.

In addition, I also use UPX to compress the program. Compared with the past, the image size of grimd will be reduc

[2022-03-18 09:40] soulteary opened #98 "[Feat] Automatically replace the default listening address in the docker with `0.0.0.0`"
Hello maintainer 👋 @looterz

In the default ReadMe document, I see that to run the program in a Docker, and to use the API properly, the default configuration needs to be adjusted. like this:

Maybe we can make it simpler and let the application listen to 0.0.0.0 by default in the container to reduce the user's modification cost.

PR: https://github.com/looterz/grimd/pull/97

[2022-03-18 09:48] soulteary opened #99 "[Feat] Built-in management interface"
hello maintainer 👋  @looterz

I tried using reaper with grimd and it worked fine.

https://github.com/looterz/reaper

But using two projects at the same time can be a bit complicated at deployment or startup time.

I have an idea, if you agree, I'll simply tweak the build, add steps to get the reaper interface, and then build reaper into grimd.

I can also add a simple user authentication feature

[2022-03-18 19:50] looterz commented on #99
I really like that idea, it's been a long time coming and something I wanted to do years ago, the current separation of the projects isn't ideal.

[2022-03-18 19:53] looterz commented on #93
Thanks, good catch

[2022-03-18 19:53] #93 closed

[2022-03-18 19:55] looterz commented on #96
Looks good to me, sometimes packed binaries can trigger warnings but I think we'll be okay using UPX

[2022-03-18 19:58] looterz commented on #98
Thanks, best to handle stuff like that in code instead of needing anyone to check documentation

[2022-03-18 19:58] #98 closed

[2022-03-18 21:01] looterz commented on #96
Looks like this may be [incompatible with how goreleaser expects things to work](https://goreleaser.com/customization/docker/#how-it-works) when it builds an image, you can see goreleaser failing when building from the Dockerfile [here](https://github.com/looterz/grimd/runs/5606080097?check_suite_focus=true). Will take some more investigation to figure out how to get this compatible with gorelease

[2022-03-19 04:22] soulteary commented on #96
Thanks for the feedback! @looterz

Before the merge, I couldn't observe the `error` because I couldn't trigger the release, sorry :( ...

In order to ensure the continuous update of the project, we should probably restore the Dockerfile first.

I'm not sure, if future projects are willing to use multi-CPU architecture and standardized builds in docker?

If we consider starting now, maybe we can **

[2022-03-19 04:27] soulteary commented on #99
I can try to make a demo.

For more ready-made examples, please refer to the docker-flare project or the docker-flame project.

- https://github.com/soulteary/docker-flare
- https://github.com/soulteary/docker-flame

Sorry that the description languages ​​of these two projects are not in English, but it should have little effect. You can use docker run directly to verify and experience.

My imagin

[2022-03-19 05:26] looterz commented on #96
@soulteary I was thinking the same thing, just having a separate Dockerfile for the goreleaser pipeline, seems like the easiest solution for now.

[2022-03-19 06:20] soulteary commented on #96
I made a small adjustment, please help me see if it fits when you have time. https://github.com/looterz/grimd/pull/101/files

This change still needs to be merged before it can be verified. 😅 @looterz

[2022-03-19 06:38] soulteary commented on #99
There is a choice here, we may need to discuss whether the future grimd project will be a **pure** golang project, and whether the project will consider including front-end code (eg: javascript).

- If keeping it a pure standalone golang project, then I would use **git submodule** or download the github project **release zipball** to integrate the interface.
- If you consider simple maintenance, w

[2022-03-21 06:33] looterz commented on #99
Personally like the idea of a git submodule, easy enough to implement but still has a separation of concerns between the web management interface and the grimd project itself.

[2022-03-21 07:38] soulteary commented on #99
OK, then let's move in this direction first and make a try.

I will provide a demo later, let's try it together.

[2022-03-21 09:02] soulteary commented on #99
@looterz welcome to review the code, and use docker for early trial.

https://github.com/looterz/grimd/pull/102

As before, GitHub actions require you to merge code to be able to test.

[2022-03-24 22:55] looterz commented on #99
Looks great, testing out a merge

[2022-03-25 03:01] #96 closed

[2022-03-25 03:03] soulteary commented on #99
Then this issue can be closed, and the next step is to optimize the integrated functions.

[2022-03-25 03:03] #99 closed

[2022-08-03 02:53] soulteary opened #105 "Update Go 1.19 and fix current CI issues"
@looterz , haven't seen you for a long time.

I submitted a new PR that includes updating the golang version to 1.19 and fixing a missing part of the current build script.
https://github.com/looterz/grimd/pull/104

[2022-10-01 04:57] looterz commented on #105
Thank you, finally got a new release out with these changes.

[2022-10-01 04:57] #105 closed